Form
{
    max-width: 500px;
    margin: auto;
}
Form Button
{
    margin-top: 20px;
    width: 100px;
}
.album{
    background-color: #3F51B5;
    color: white;
    padding: 10px;
    margin: 10px;
}
p{
    background-color: rgb(252, 252, 225);
    padding: 5px;
    cursor: pointer;
}